<%= form_for @todo do |f| %>
	<% if @todo.errors.any?%>
			<% @todo.errors.full_messages.each do|msg| %>
			<li><%= msg %></li><br>
			<% end %>
	<% end %>
	<%= f.label :name %><br>
	<%= f.text_field :name %><br><br>

	<%= f.label :description %><br>
	<%= f.text_area :description %><br><br>

	<%= f.submit %>
<%end%>